# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/

# Environment
.env

# Database
*.db
*.sqlite
*.sqlite3

# Node
node_modules/
dist/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Virtual Environment
backend/.venv/